<p>

	<div id="div_id">
		<form id="checkout_details">
			Phone Number: <br><input type="text" name="phonenumber"><br>
			Email: <br><input type="text" name="email"><br>
			Card Number: <br><input type="text" name="card_no"><br>
			Card CVV Number: <br><input type="text" name="cvv"><br>
			Card Expiry Year: <br><input type="text" name="expiry_year"><br>
			Card Expiry Month: <br><input type="text" name="expiry_month"><br>
			First Name: <br><input type="text" name="firstname"><br>
			Last Name: <br><input type="text" name="lastname"><br>
			Recipient Bank: <br><input type="text" name="recipient_bank"><br>
			Recipient Account Number: <br><input type="text" name="recipient_account_number"><br>
			Fee: <br><input type="text" name="fee"><br>
			Redirection Url: <br><input type="text" name="redirecturl"><br>
			Medium: <br><input type="text" name="medium"><br>
			Amount: <br><input type="text" name="amount"><br>
		</form>
			<button id="saveBtn">Make Payment</button>
	</div>

</p>
